<div id="cabecera">
    <table>
        <tr>
            <td id="cabecera_izquierda">
                <a href="{{ url('qualium_telus_votacion_homepage') }}"><img src="{{ asset('images/logo.png') }}" /></a>
            </td>
            <td id="cabecera_derecha">
                {% if app.user %}
                    You're logged in as <b>{{ app.user.username }}</b> [<b>{{ app.user.idCountry.iso }}</b>] 
                    &nbsp;
                    <a class="boton" href="{{ path('fos_user_security_logout') }}">Sign out</a>
                {% else %}
                    {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) not in [path('fos_user_security_login'), path('fos_user_registration_register')]  %}
                        <a class="boton" href="{{ path('fos_user_security_login') }}">Sing in</a>
                        &nbsp;
                        <a class="boton" href="{{ path('fos_user_registration_register') }}">Sign up</a>
                    {% else %}
                        <a class="boton" href="{{ url('qualium_telus_votacion_homepage') }}">Cancel</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
    
</div>