{% extends '::base.html.twig' %}
{% block title %}Vote now!{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
__ROUTE = {};
__ROUTE['ver_candidatos'] = '{{ path('ver_candidatos') }}';
__ROUTE['ver_comites'] = '{{ path('ver_comites') }}';
__ROUTE['images'] = '{{ asset('images/') }}';
</script>
<script type="text/javascript" src="{{ asset('js/default.index.js') }}"></script>
{% endblock %}
{% block body %}
<div class="centrar">
    <h1>Vote for your favorite candidate now!</h1>
    {% if app.user %}
        <p>Remember you can only vote once per candidate, and only one candidate for each committee.</p>
        <p>You can vote only for candidates from <i>{{ app.user.idCountry.nombre }}</i>.</p>
    {% else %}
        <p>To vote you must <a href="{{ path('fos_user_registration_register') }}">sign in</a> or if you already have an account you can <a href="{{ path('fos_user_security_login') }}">log in</a></p>
    {% endif %}
    
    <div id="actionContainer" class="contenedorComites">
        <br><p><i>Loading the most interesting <b>committees</b></i> right now</p>
        <img src="{{ asset('images/loading.gif') }}" />
    </div>
</div>
<hr />    
    <h2>Visitor statistics</h2>
    <p>Showing activity in the past 20 days</p>
    <table class="visitas">
        <thead>
            <tr>
                <th>Day</th>
                <th># Visitors</th>
            </tr>
        </thead>
        {% for visita in visitas %}
            <tr><td>{{ visita.dia }}</td><td>{{ visita.total }}</td></tr>
        {% endfor %}
    </table>

{% endblock %}
